<h1>Home Update View</h1>
@* @model TModel *@
@* *@
@* @{ *@
@*     Layout = null; *@
@* } *@
@* *@
@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title>title</title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*        *@
@* </div> *@
@* </body> *@
@* </html> *@